/* || Autocomplete */ 
.autocomplete-3NRXG8 .autocompleteRow-14iwvH div.base-2v-uc0 {
    display: flex;
    align-items: center;
    padding-left: 0;
    border-radius: var(--pill-container-rounding);
}
.autocomplete-3NRXG8 .autocompleteRow-14iwvH div.base-2v-uc0::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.autocomplete-3NRXG8 .autocompleteRow-14iwvH div.base-2v-uc0:active {
    background-color: var(--background-modifier-active);
}
.autocomplete-3NRXG8 .autocompleteRow-14iwvH div.base-2v-uc0:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.autocomplete-3NRXG8 .autocompleteRow-14iwvH div.base-2v-uc0 .autocompleteRowContent-1cjfD2 {
    width: 100%;
}
.autocomplete-3NRXG8 .autocompleteRow-14iwvH:hover .base-2v-uc0 {
    background-color: var(--background-modifier-hover);
}
.autocomplete-3NRXG8 .autocompleteRow-14iwvH:hover .base-2v-uc0::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.autocomplete-3NRXG8 .autocompleteRow-14iwvH[aria-selected=true] .base-2v-uc0::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}