/* || Channels */
.sidebar_ded4b5 .containerDefault__3187b, .sidebar_ded4b5 .containerDragBefore_fe91aa {
    overflow: hidden;
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde .wrapper__7bcde, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde .wrapper__7bcde {
    padding-left: 0;
    border-radius: var(--pill-container-rounding);
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde .wrapper__7bcde::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde .wrapper__7bcde::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde .wrapper__7bcde:hover::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde .wrapper__7bcde:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde .wrapper__7bcde:active::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde .wrapper__7bcde:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde.modeSelected__487d6 .wrapper__7bcde::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde.modeSelected__487d6 .wrapper__7bcde::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde.modeConnected__1c02e .wrapper__7bcde, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde.modeConnected__1c02e .wrapper__7bcde {
    background-color: var(--background-modifier-active);
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde.modeConnected__1c02e .wrapper__7bcde::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde.modeConnected__1c02e .wrapper__7bcde::before {
    height: var(--pill-default-height);
    margin-right: 7px;
    background-color: var(--pill-connected-background);
}
.sidebar_ded4b5 .containerDefault__3187b .modeUnread_f74c03 .unreadRelevant__44f9e, .sidebar_ded4b5 .containerDragBefore_fe91aa .modeUnread_f74c03 .unreadRelevant__44f9e {
    display: none;
}
.sidebar_ded4b5 .containerDefault__3187b .modeUnread_f74c03 .wrapper__7bcde::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .modeUnread_f74c03 .wrapper__7bcde::before {
    height: var(--pill-unread-height);
    margin-right: 7px;
    background-color: var(--pill-unread-background);
}
.sidebar_ded4b5 .containerDefault__3187b .modeUnread_f74c03 .wrapper__7bcde:hover::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .modeUnread_f74c03 .wrapper__7bcde:hover::before {
    background-color: var(--pill-unread-background);
}
.sidebar_ded4b5 .container-32HW5s {
    overflow: hidden;
}
.sidebar_ded4b5 .container-32HW5s .interactive-1vLZ_I {
    border-radius: var(--pill-container-rounding);
}
.sidebar_ded4b5 .container-32HW5s .interactive-1vLZ_I::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.sidebar_ded4b5 .container-32HW5s .interactive-1vLZ_I:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.sidebar_ded4b5 .container-32HW5s .interactive-1vLZ_I:active::before, .sidebar_ded4b5 .container-32HW5s .interactive-1vLZ_I.interactiveSelected_ec846b::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.sidebar_ded4b5 .container-32HW5s .interactive-1vLZ_I .layout__59abc {
    padding-left: 1px;
}

/* Float - Item Pills Fix */
@media (max-width: var(--float-theme-max-width)) { /* default: 940px */
    .sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde .wrapper__7bcde::before, .sidebar_ded4b5 .containerDragBefore_fe91aa .wrapper__7bcde .wrapper__7bcde::before {
        margin-left: 0px !important;
    }
}
