/* || Discovery */
.categoryItem_b1be5c .itemInner__9e755 {
    padding-left: 0;
}
.categoryItem_b1be5c .itemInner__9e755::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.categoryItem_b1be5c .itemInner__9e755:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.categoryItem_b1be5c .itemInner__9e755:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.categoryItem_b1be5c.selectedCategoryItem__0bf4c div.itemInner__9e755 {
    background-color: var(--background-modifier-selected);
}
.categoryItem_b1be5c.selectedCategoryItem__0bf4c div.itemInner__9e755::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.categoryItem_b1be5c:active .itemInner__9e755 {
    background-color: var(--background-modifier-active);
}
