/* || Friends List */
.peopleListItem_d14722 .userInfo__18240 {
    align-items: center;
}
.peopleListItem_d14722 .userInfo__18240::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.peopleListItem_d14722:hover .userInfo__18240::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.peopleListItem_d14722.active__6b8ff .userInfo__18240::before, .peopleListItem_d14722:active .userInfo__18240::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
