/* || Members */ 
.member_aa4760 .layout_bb8e67 {
    padding-left: 0;
}
.member_aa4760 .layout_bb8e67::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.member_aa4760 .layout_bb8e67:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.member_aa4760 .layout_bb8e67:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.member_aa4760[aria-expanded=true] .layout_bb8e67::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}

.listRow__60937 {
    padding-left: 0;
}
.listRow__60937::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.listRow__60937:hover {
    background-color: var(--background-modifier-hover);
}
.listRow__60937:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.listRow__60937:active {
    background-color: var(--background-modifier-active);
}
.listRow__60937:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}

.list__54b1e .content_b60865 {
    margin: 0;
}
.list__54b1e .content_b60865::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.list__54b1e .content_b60865:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.list__54b1e .content_b60865:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.list__54b1e .content_b60865 .avatarContainer__39fb5 {
    margin-left: 0;
}
.list__54b1e .selected__471ca .content_b60865::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
