/* || Members */ 
.member-2gU6Ar .layout-1qmrhw {
    padding-left: 0;
}
.member-2gU6Ar .layout-1qmrhw::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.member-2gU6Ar .layout-1qmrhw:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.member-2gU6Ar .layout-1qmrhw:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.member-2gU6Ar[aria-expanded=true] .layout-1qmrhw::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}

.listRow-2nO1T6 {
    padding-left: 0;
}
.listRow-2nO1T6::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.listRow-2nO1T6:hover {
    background-color: var(--background-modifier-hover);
}
.listRow-2nO1T6:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.listRow-2nO1T6:active {
    background-color: var(--background-modifier-active);
}
.listRow-2nO1T6:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}

.list-2kKmFw .content-1Tgc42 {
    margin: 0;
}
.list-2kKmFw .content-1Tgc42::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
.list-2kKmFw .content-1Tgc42:hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}
.list-2kKmFw .content-1Tgc42:active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
.list-2kKmFw .content-1Tgc42 .avatarContainer-3FF_Km {
    margin-left: 0;
}
.list-2kKmFw .selected-1oxcpH .content-1Tgc42::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}