/* User Profile / Friends Header */ 
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35) {
    display: flex;
    align-items: center;
    padding-left: 0;
}
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35)::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35):hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}

#app-mount .item-3XjbnG:not(.tabBarItem_b56b35)[aria-selected=true]::before, #app-mount .item-3XjbnG:not(.tabBarItem_b56b35):active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35).item_e4ca95 {
    height: 30px;
}
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35) .premiumLabel_f2cd55 {
    width: 100%;
}
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35) .premiumLabel_f2cd55 > svg {
    right: 0;
}
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35) svg {
    position: absolute;
    right: 10px;
}
#app-mount .item-3XjbnG:not(.tabBarItem_b56b35) .selectedBackground_d847da {
    background-color: transparent;
}
