/* User Profile / Friends Header */ 
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-) {
    display: flex;
    align-items: center;
    padding-left: 0;
}
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-)::before {
    content: "";
    position: relative;
    min-width: 4px;
    height: 0;
    margin-left: 5px;
    border-radius: 25px;
    transition: all 250ms ease;
    background-color: var(--pill-default-background);
}
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-):hover::before {
    height: var(--pill-hover-height);
    margin-right: 7px;
}

#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-)[aria-selected=true]::before, #app-mount .item-3XjbnG:not(.tabBarItem-30Te4-):active::before {
    height: var(--pill-default-height);
    margin-right: 7px;
}
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-).item-3mHhwr {
    height: 30px;
}
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-) .premiumLabel-3HPvdB {
    width: 100%;
}
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-) .premiumLabel-3HPvdB > svg {
    right: 0;
}
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-) svg {
    position: absolute;
    right: 10px;
}
#app-mount .item-3XjbnG:not(.tabBarItem-30Te4-) .selectedBackground-1t6xXq {
    background-color: transparent;
}